@mixin merriweather-font ($font-size:14px, $font-weight:300, $color: $black){
    font-family: 'Merriweather', serif;
    font-size: $font-size;
    font-weight: $font-weight;
    
    
}
@mixin lato-font ($font-size:14px, $font-weight:400, $color: $black ){
    font-family: 'Lato', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    
    
}
