.items-text{
    @include lato-font();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  p{

    font-family: 'Merriweather', serif;
    font-style: italic;
  }

  h2,
  h3,
  h5,
  h6{
    font-family: 'Lato', sans-serif;
    font-weight: 400;

  }
  h2,
  h2{
    font-size: 30px;
    letter-spacing: 2px;

  }
  

  a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    strong{
      color: #fff;;
    }

  }

