/* ==========width==========*/
$container_max: 1280px;
$total-col:12;
$gutter:0;
$total-gutter: $gutter * 2;
$sm:600px;
$md:700px;
$lg:1200px;


/* color*/
$black :#000000; 
$dark:#6f6f6f;
$light:#fff;