*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  
}

.div-black{
  background-color:#2a2a2a;
  width: 100%;
  height: 100%;
}
.div-grey{

  background-color:gray;
  width: px;
  height: 500px;

}
.gallery{
  img{
    width: 100%;
    height: 100%;
  }
}
.image-boutille{
  img{
    width: 100%;

  }

}
.background-image{
  background-image: url("../image/montgan2.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat ;
  padding:200px 0px;
  color: #fff;
    h2{
      color: #fff;
    }
      p{
        color: #fff;
      }
      
    
  @media (max-width: $sm) {
    width: 100%;
    padding:50px 0px;
}

  }
.test{
position: relative;

}
.padding-text{
  padding: 200px 0px;
}
input.form-control{
  width: 550px;
  padding: 20px;
}
.after{
  position: relative;
  &::after{
    content: "";
    width: 40px;
    height: 3px;
    background-color: #1e1e1e;
    position: absolute;
    top:50px;
    left:40%
  
  }
}
.border{
  position: relative;
  &::before{
    content: "";
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    left:37%

  
  }
  &::after{
    content: "";
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right:37%;
  
  }

}
.background-grey{
  background-color: #f7f7f8;
  
}
h6{
  margin: 0px 30px;;
}









