.section-footer{
    background-image: url("../image/big-mont.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat:no-repeat ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    background-color: #333333;
    margin: 0px;
    color: #fff;
    a{
        text-decoration: none;
        color:#fff ;
    }
   
  
}
.text-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;


}

.center{
    text-align: center;
    font-size: 14px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    a+a{
        padding-top: 20px;;
        
    }
    .row.icon{
        padding-top: 20px;
        color: #fff;
        a{
            margin-right: 30px;   
        }
      
    

    }
    i{
      
        margin-right: 30px;
        
    }
    

}


.tweet{
    display: flex;
    a{
        margin-left: 20px;
        color: #767676;
       
    
    }   
    img{
        margin-bottom: 20px;;
    }

}
.fas.fa-h-square{
    border: 2px solid #fff;
    font-size: 30px;
    margin: 20px;
    
   
}

