.container{
    width:$container_max;
    margin-top: 200px;
    margin-bottom: 200px;
    @media (max-width: $sm) {
       width:90%;
    }
    }
    .txt-message{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 250px;
        padding-left: 20px;
        
        margin-top: 50px;
    }

    input{border:1px solid $black;}
    input.form-control{
        width: 97%;
        padding: 20px;
        margin-top: 30px;
        @media (max-width: $sm) {
            width: 100%;
        }


      }

      .input:nth-child(even){
          input{
            float: right;
            @media (max-width: $sm) {
                float: left;
            }
          }
    }

    @media (max-width: $sm){
        .form {
            .row{
                display: contents;
            }
        }
    }
    .input{
        position: relative;
   
    i.fas.fa-envelope{
    position: absolute;
    float: right;
    top: 60%;
    left: 90%;
    @media (max-width: $sm) {
        margin-top: 50px;
    }
    }

    i.fas.fa-phone{
        position: absolute;
        float: right;
        top: 50%;
        left: 90%;
        @media (max-width: $sm) {
            margin-top: 50px;
        }
        }
    i.fas.fa-map-marker-alt{
        position: absolute;
        float: right;
        top: 50%;
        left: 90%;
        @media (max-width: $sm) {
            top: 80%;
        }
        
        }   
     
        
}
i.fas.fa-pen{
    position: relative;
    float: right;
    margin-top: 50px;
    
            
            
    }  
i.fas.fa-id-badge{
    position: absolute;
    float: right;
    top: 50%;
    right: 6%;
}



button{
    background-color:#2a2a2a ;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 22px  100px;
}

    
    
   