.menu-nav{
    display: flex;
    background-color: #2a2a2a;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .menu.flex-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
   
    li{
        color: #fff;
        margin-right: 23px;
        list-style-type: none;
        font-family: 'Lato', sans-serif;
    } 
    @media (max-width: $sm) {
        display: none;
           
    }
}


// //*=======================
// 		menu
// ====================
.menu-nav-responsive{
    display: none;
@media (max-width: $sm) {
        display: flex;
        background-color: #2a2a2a;
        margin-top: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .menu-responsive{
            background-color: #fff;
            width: 50px;
            height: 50px;
            position: relative;
            float: right;
            transition: 0.5ms;
            
        }
        .menu span{
            display: block;
            width: 80%;
            height: 3px;
            background: red;
        }
        .line1{
            position: absolute;
            width: 100%;
            left: 10%;
            top: 16px;
            transition: 300ms;;
        }
        .menu .line2{
            position: absolute;
            right:10%;
            top: 24px;
            width: 60%;
            transition: 300ms;
        }
        .line3{position: absolute;
            width: 100%;
            left: 10%;
            top: 32px;	
        }
        .menu:hover .line2{
            transform: rotate(90deg);
        }
        
        
    }
    span{
        background-color: red;
    }
    
    
}
