
//a refaire
.items.slider-section{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .slide{
        height: 100%;
        width: 100%;
    }
    img{
        width: 200px;
        margin: 0 auto;
    }
    h2{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-align: center;
        font-size: 30px;
        strong{
            font-weight: 700;
        }
    }
}



.slick-dots{
    right: 0px!important;
    display: flex!important;
    flex-direction: column;
    top: 40%;
    align-items: flex-end;
    padding-right: 10px!important;
    li+li{
        margin-top: 10px!important;
    }
    button:before{
        content: ""!important;
        width: 10px!important;
        height: 10px!important;
        border-radius: 50%;
        background-color: $black!important;
        opacity: 1!important;
    }
    li.slick-active button:before,
    li button:hover:before{
        border: 2px solid $black!important;
        background: transparent!important;
        border-radius: 50%!important;
    }
}

// .slick-dotted.slick-slider {margin-bottom: 0px!important;}